<nav class="navbar navbar-expand navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="/" class="navbar-brand">
          <img src="logo/logo.svg" alt="DYAS logo" style="max-width:80px;"/>     
        </a>

        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/artists" class="nav-link">Artists</a>
          </li>
          <li class="nav-item">
            <a href="/releases" class="nav-link">Releases</a>
          </li>
          <li class="nav-item">
            <a href="/labels" class="nav-link">Labels</a>
          </li>
        </ul>
    </div>
</nav>